<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>appId</key>
	<string>mobile-web-demo-nov23-dihvl</string>
	<key>appUrl</key>
	<string>https://realm.mongodb.com/groups/5ead7a92758e00636bc31452/apps/6553e68d0b4e319d31ff1c4c</string>
	<key>baseUrl</key>
	<string>https://realm.mongodb.com</string>
	<key>clientApiBaseUrl</key>
	<string>https://us-east-1.aws.realm.mongodb.com</string>
	<key>dataApiBaseUrl</key>
	<string>https://us-east-1.aws.data.mongodb-api.com</string>
    <key>dataExplorerLink</key>
    <string>https://cloud.mongodb.com/links/5ead7a92758e00636bc31452/explorer/RealmADS/database/collection/find</string>
    <key>dataSourceName</key>
    <string>mongodb-atlas</string>
</dict>
</plist>
